h1,
h2,
h3,
h4,
h5,
h6,
p,
ul {
  margin: 0;
  padding: 0;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}


a {
  color: inherit;
  text-decoration: none;
}


ul,
ol,
li {
  list-style: none;
}

.link {
    text-decoration: none;
    color: currentColor;
}

li {
    list-style: none;
    padding: 0;
    margin: 0;
}