html {
  scroll-behavior: smooth;
}

.button-up {
  position: fixed;
  bottom: 250px;
  right: 20px;

  width: 100px;
  height: 80px;

  @include mq (mobile-only) {
    width: 80px;
    right: -10px;
  }


  cursor: pointer;
  z-index: 1000;

  opacity: 0;
  visibility: hidden;
  transform: translateY(25%);
  transition: all 250ms ease-in-out;

  &--visible {
    opacity: 1;
    visibility: visible;
    transform: translateY(0%);
  }
}

.button-up:hover,
.button-up:focus {

  transform: scale(1.1);
}

.button-up:hover::before,
.button-up:focus::before,
.button-up:hover::after,
.button-up:focus::after {
  border-top: 3px solid var(--btn-bg-accent);
  border-left: 3px solid var(--btn-bg-accent);
  transition: all 250ms ease-in-out;
}

.button-up::before,
.button-up::after {
  content: '';
  position: absolute;
  top: -7%;
  left: 50%;
}

.button-up::before {
  width: 15px;
  height: 15px;

  transform: translate(-50%, -60%) rotate(45deg);
  border-top: 3px solid var(--hero-bg-cl);
  border-left: 3px solid var(--hero-bg-cl);
}

.button-up::after {
  width: 17px;
  height: 17px;
  transform: translate(-50%, 20%) rotate(45deg);
  border-top: 3px solid var(--hero-bg-cl);
  border-left: 3px solid var(--hero-bg-cl);
}
