.contacts {
    @media screen and (min-width: 320px) and (max-width:767px) {
    background-image: linear-gradient(to bottom,
        #FFFFFF 23%,
        #FFF5F6 23%,
        #FFF5F6 80%);
    }
    @media screen and (min-width: 768px) and (max-width:1199px) {
    background-image: linear-gradient(to bottom,
        #FFFFFF 50%,
        #FFF5F6 50%,
        #fff5f6 50%);
    }
    @media screen and (min-width: 1200px) {
    background-image: linear-gradient(to bottom,
        #FFFFFF 18%,
        #FFF5F6 18%,
        #fff5f6 82%);
    }
}

.contacts__item {
    @media screen and (min-width: 320px) and (max-width:767px){
        
   
        background-color: #ffffff;
        box-shadow: 0px 8px 30px rgba(212, 20, 67, 0.1);
        border-radius: 24px;

   
        width: 280px;
        height: 412px;

        padding-top: 40px;
        padding-left: 32px;
        padding-bottom: 40px;

        &:not(:last-child) {
        margin-bottom: 20px;
        }
    }

    @media screen and (min-width: 768px) and (max-width:1199px) {
        background-color: #FFFFFF;
        box-shadow: 0px 8px 30px rgba(212, 20, 67, 0.1);
        border-radius: 24px;

        width: 224px;
        padding-top: 40px;
        padding-left: 32px;
        padding-bottom: 40px;

        display: inline-block;

        &:not(:last-child) {
            margin-right: 32px;
        }
      
    }

    @media screen and (min-width: 1200px) {
        background-color: #FFFFFF;
            box-shadow: 0px 8px 30px rgba(212, 20, 67, 0.1);
            border-radius: 24px;
        
            width: 368px;
            height: 538px;
            padding-top: 40px;
            padding-left: 40px;
            padding-bottom: 40px;
        
            
            display: inline-block;
        
            &:not(:last-child) {
                margin-right: 32px;
            }
    }

}
.contacts__card {
        list-style: none;
        margin-right: 0px;

    @media screen and (min-width: 320px) and (max-width:767px){
        border-bottom: 1px solid #E1E1E1;
        width: 218px;
    }
    @media screen and (min-width: 768px) and (max-width:1199px){
        border-bottom: 1px solid #E1E1E1;
        width: 160px;
    }
    @media screen and (min-width: 1200px) {
        border-bottom: 1px solid #E1E1E1;
        width: 288px;
    }
    
}
.contacts__card-place {
    @media screen and (min-width: 320px) and (max-width:767px) {
        background-color: #F0D1A5;
        width: 80px;
        border-radius: 4px;
        color: #ffffff;
    
        font-weight: 500;
        font-size: 12px;
    
    
        display: flex;
        align-items: center;
        text-align: center;
        justify-content: center;
        letter-spacing: 0.04em;
        margin-bottom: 20px;
    }

    @media screen and (min-width: 768px) and (max-width:1199px) {
        background-color: #F0D1A5;
        width: 73px;
        height: 28px;
        border-radius: 6px;
        color: #ffffff;
        
        font-size: 16px;
        line-height: 0.53;
        
        
        display: flex;
        align-items: center;
        text-align: center;
        justify-content: center;
        letter-spacing: 0.04em;
        margin-bottom: 20px;
 }
    @media screen and (min-width: 1200px) {
        background-color: #F0D1A5;
            width: 75px;
            height: 28px;
            border-radius: 6px;
            color: #ffffff;
        
            font-size: 16px;
            line-height: 0.53;
        
        
            display: flex;
            align-items: center;
            text-align: center;
            justify-content: center;
            letter-spacing: 0.04em;
            margin-bottom: 32px;
    }
   
}
.contacts__card-place2 {
    @media screen and (min-width: 320px) and (max-width:767px) {
            background-color: #C2E297;
            border-radius: 4px;
            width: 130px;
        
        
            font-size: 12px;
            line-height: 22px;
        
            display: flex;
            align-items: center;
            text-align: center;
            letter-spacing: 0.04em;
            justify-content: center;
        
            color: #FFFFFF;
            margin-bottom: 20px;
    }
   @media screen and (min-width: 768px) and (max-width:1199px) {
       background-color: #C2E297;
       width: 138px;
       height: 28px;
       border-radius: 6px;
       color: #ffffff;

       font-size: 16px;
       line-height: 0.53;


       display: flex;
       align-items: center;
       text-align: center;
       justify-content: center;
       letter-spacing: 0.04em;
       margin-bottom: 20px;
   }
    @media screen and (min-width: 1200px) {
        background-color: #C2E297;
            width: 138px;
            height: 28px;
            border-radius: 6px;
            color: #ffffff;
        
            font-size: 16px;
            line-height: 0.53;
        
        
            display: flex;
            align-items: center;
            text-align: center;
            justify-content: center;
            letter-spacing: 0.04em;
            margin-bottom: 32px;
    }
}
.contacts__card-title {
   
   
   
    @media screen and (min-width: 320px) and (max-width:767px) {
        font-size: 12px;
        line-height: 22px;
        margin-bottom: 8px;
        letter-spacing: 0.04em;
        color: #000000;
    }
       
    @media screen and (min-width: 768px) and (max-width:1199px) {
        font-family: 'DM Sans';
        font-style: normal;
        
        font-size: 14px;
        line-height: 26px;

        margin-bottom: 12px;
        margin-top: 32px;
        
        color: #000000;
    }
    @media screen and (min-width: 1200px) {
        font-family: 'DM Sans';
            font-style: normal;
        
            font-size: 14px;
            line-height: 30px;
        
            margin-bottom: 8px;
            margin-top: 32px;
            color: #000000;
    }
}

.contacts__card-text {
        color: #907E82;

    @media screen and (min-width: 320px) and (max-width:767px){
        font-size: 12px;
        width: 179px;
        margin-bottom: 24px;
    }   
    @media screen and (min-width: 768px) and (max-width:1199px) {
        font-family: 'DM Sans';
        font-weight: 500;
        width: 159px;
        font-size: 14px;
        line-height: 23px;
            
        margin-bottom: 32px;
    }
    @media screen and (min-width: 1200px) {
        font-family: 'DM Sans';
            font-weight: 500;
            width: 243px;
            font-size: 16px;
            line-height: 29px;
        
            margin-bottom: 32px;
    }
       
}       
.contacts__card-date {
    @media screen and (min-width: 320px) and (max-width:767px) {
        margin-top: 24px;
        border-bottom: 1px solid #E1E1E1;
        width: 218px;
    }
    @media screen and (min-width: 768px) and (max-width:1199px) {
        margin-top: 32px;
        border-bottom: 1px solid #E1E1E1;
        width: 160px;
    }
    @media screen and (min-width: 1200px) {
        margin-top: 32px;
        border-bottom: 1px solid #E1E1E1;
        width: 288px;
    }
}
.contacts__card-item {

    @media screen and (min-width: 320px) and (max-width:767px) {
        &:not(:last-child) {
                margin-bottom: 8px;
            }
        
        &:not(:first-child) {
                margin-bottom: 24px;
            }
    }

    @media screen and (min-width: 768px) and (max-width:1199px) {
        &:not(:last-child) {
                margin-bottom: 12px;
            }
        
            &:not(:first-child) {
                margin-bottom: 32px;
            }
    }
    @media screen and (min-width: 1200px) {
        &:not(:last-child) {
                margin-bottom: 12px;
            }
        
            &:not(:first-child) {
                margin-bottom: 32px;
            }
    }
}
.contacts__card-day {
    @media screen and (min-width: 320px) and (max-width:767px) {
        font-weight: 500;
        font-size: 12px;
        line-height: 22px;
        
        
        color: #000000;
        display: flex;
        flex-direction: column;
    }
   
    @media screen and (min-width: 768px) and (max-width:1199px) {
        color: #000000;
        font-weight: 500;
        font-size: 14px;
        line-height: 23px;
    }
       
    @media screen and (min-width: 1200px) {
        color: #000000;
            font-weight: 500;
            font-size: 16px;
            line-height: 30px;
    }
       
}
.contacts__card-time {
        color: #FFA5BA;

    @media screen and (min-width: 320px) and (max-width:767px) {
        font-family: 'DM Sans';
        font-weight: 500;
        font-size: 12px;
        line-height: 22px;
    }
   
    @media screen and (min-width: 768px) and (max-width:1199px) {
        font-family: 'DM Sans';
        font-weight: 500;
        font-size: 14px;
        line-height: 26px;
    }
    @media screen and (min-width: 1200px) {
        font-family: 'DM Sans';
            font-weight: 500;
            font-size: 16px;
            line-height: 30px;
    }
    
}
.contacts__adress {
    color: #907E82;
    
        &:hover {
            color: #D41443;
        }
    
        &:focus {
            color: #D41443;
        }

    @media screen and (min-width: 320px) and (max-width:767px) {
            display: flex;
            flex-direction: column;
            font-family: 'DM Sans';
            font-style: normal;
            font-weight: 500;
            font-size: 12px;
            line-height: 18px;
            margin-top: 24px;
    }
   
    @media screen and (min-width: 768px) and (max-width:1199px) {
            display: flex;
            flex-direction: column;

            font-family: 'DM Sans';
            font-style: normal;
            font-weight: 500;
            font-size: 14px;
            line-height: 26px;
            margin-top: 32px;
    }
    @media screen and (min-width: 1200px) {
            display: flex;
            flex-direction: column;
        
            font-family: 'DM Sans';
            font-style: normal;
            font-weight: 500;
            font-size: 16px;
            line-height: 22px;
            // line-height: 29px;

            margin-top: 32px;
    }
}
.contacts__card-time {
    
         display: flex;
         flex-direction: column;
    
}
