.footer {
    background-color: var(--secondary-bg-cl);

    &__text {

        font-family: var(--secondary-font);
        color: var(--accent-cl);
        font-weight: 400;
        font-size: 18px;
        line-height: 21px;
        text-transform: uppercase;

        margin-top: 40px;
        margin-bottom: 16px;
    }

    &__title{

        font-family: var(--secondary-font);
        color: var(--hero-txt-cl);
        font-weight: 400;
        font-size: 34px;
        line-height: 39px;
        letter-spacing: 0.04em;
        text-transform: uppercase;
        
        margin-bottom: 40px;  
    }
}

.btn {
    font-family:var(--main-font);
    color:var(--main-txt-cl);
    background-color: var(--btn-bg-accent); 

    font-weight: 700;
    font-size: 16px;
    line-height: 21px;
    // display: flex;
    // align-items: center;
    // text-align: center;
    cursor: pointer;

    
    border-radius: 22px;
    border: transparent;
    width: 162px;
    height: 45px;

    &__list {
        display: flex;
        flex-direction: column;
        align-items: center;
        list-style: none;
        padding-top: 32px;

     
    }
    &__item:not(:last-child) {
        margin-bottom: 10px;
    }
}

