
.footer {
    width: 100wv;
    height: 100wh;
    background-color: var(--secondary-bg-cl);
    
    &__container {
        @include mq (teblet) {
            display: inline;
            flex-direction: column-reverse;
            margin: 0;
        }
    }

    &__text {
        font-family: var(--secondary-font);
        color: var(--accent-cl);
        font-weight: 400;
        font-size: 18px;
        line-height: 21px;
        text-transform: uppercase;

        width: 232px;

        margin-top: 40px;
        margin-bottom: 16px;

            @include mq (tablet-only){
                font-size: 26px;
                line-height: 30px;
                letter-spacing: 0.04em;
                width: 340px;
            }
            @include mq (desktop){
                font-size: 30px;
                line-height: 34px;
                letter-spacing: 0.04em;
                width: auto;
            }
    }

    &__title{

        font-family: var(--secondary-font);
        color: var(--hero-txt-cl);
        font-weight: 400;
        font-size: 34px;
        line-height: 39px;
        letter-spacing: 0.04em;
        text-transform: uppercase;

        width: 200px;
        
        margin-bottom: 40px;  

            @include mq (tablet-only) {
                font-size: 48px;
                line-height: 55px;
                letter-spacing: 0.06em;
            }
            @include mq (desktop) {
                font-size: 58px;
                line-height: 66px;
                letter-spacing: 0.06em;
                width: auto;
            }
    }
}

.btn {
    font-family:var(--main-font);
    color:var(--main-txt-cl);
    background-color: var(--btn-bg-accent); 

    font-weight: 700;
    font-size: 16px;
    line-height: 21px;
    // display: flex;
    // align-items: center;
    // text-align: center;
    cursor: pointer;
 
    border-radius: 22px;
    border: transparent;
    width: 162px;
    height: 45px;

    @include mq (mobile-only) {
        &__item:not(:last-child) {
             margin-bottom: 10px;
        }
    }

    &__list {
        display: flex;
        justify-content: center;
        
        align-items: center;
        list-style: none;
        padding-top: 32px;

        @include mq (mobile-only){
        flex-direction: column;
        }
    }
   
}


.btn {
    color: var(--dark-cl);
    background-color: var(--hero-txt-cl);
}

// Socials

.socials__list {
    display: flex;
    justify-content: flex-end;
    list-style: none;
    margin-bottom: 40px;
}

.socials__item:not(:last-child) {
    margin-right: 28px;
}

.socials__link {
    // fill: var(--accent-cl);

    &:hover .socials__icon,
    &:focus .socials__icon{
        fill: var(--hero-txt-cl);
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
    }

}

.socials__icon {
    fill: var(--accent-cl);
}

// Footer tel

.footer__tel {

   text-align: right;
   margin-bottom: 40px;
   text-decoration: none;

    &--text {
        font-weight: 700;
            font-size: 12px;
            line-height: 22px;
    }
    &--number {
        text-decoration: none;
        color: var(--hero-txt-cl);

        transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1),
        font-size 250ms cubic-bezier(0.4, 0, 0.2, 1);
    }
}
// .footer__tel--number:focus,
// .footer__tel--number:hover {
//     color: #ff007b50;
//     font-size: 14px;
// }


// Footer copyright

.footer__copyright {

    padding-top: 16px;
    border-top: 1px solid #E1E1E1;
    

    &--text {
        display: flex;
        font-weight: 700;
        font-size: 14px;
        line-height: 152%;
        text-align: center;
        justify-content: center;
        color: var(--secondary-txt-cl);
    }
}

