
.footer {
    padding-top: 40px;
    width: 100wv;
    height: 100wh;
    background-color: var(--secondary-bg-cl);

        @include mq (desktop) {
            padding-top: 120px;
        }
    

    &__subtitle {
        font-family: var(--secondary-font);
        color: var(--accent-cl);
        font-weight: 400;
        font-size: 18px;
        line-height: 1.17;
        text-transform: uppercase;
        width: 232px;

        margin-bottom: 16px;

            @include mq (tablet-only){
                font-size: 26px;
                line-height: 1.14;
                letter-spacing: 0.04em;
                width: 340px;
                margin-bottom: 12px;
            }
            @include mq (desktop){
                font-size: 30px;
                line-height: 1.14;
                letter-spacing: 0.04em;
                width: auto;
            }
    }

    &__title{

        font-family: var(--secondary-font);
        color: var(--hero-txt-cl);
        font-weight: 400;
        font-size: 34px;
        line-height: 1.15;
        letter-spacing: 0.04em;
        text-transform: uppercase;

        width: 200px;
        
          

            @include mq (tablet-only) {
                font-size: 48px;
                line-height: 1.14;
                letter-spacing: 0.06em;
            }
            @include mq (desktop) {
                font-size: 58px;
                line-height: 1.14;
                letter-spacing: 0.06em;
                width: auto;
            }
    }
}

.footer__button {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;

    @include mq (tablet) {
        display:flex;
        justify-content: center;
    }
}
.footer__content {
    
    @include mq (tablet){
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
    }
.footer__content--text {
   
    margin-bottom: 40px;
    @include mq (desktop) {
    
        margin-bottom: 60px;
    }
}
}
.footer__contacts {
    margin-bottom: 40px;

    @include mq (tablet) {
        display: flex;
        flex-direction: column;
        justify-content: flex-end;
        margin-bottom: 60px;
    }

}

// Socials

.socials__list {
    display: flex;
    justify-content: flex-end;
    list-style: none;
    margin-bottom: 40px;
}

.socials__item:not(:last-child) {
    margin-right: 28px;
}

.socials__link {
    // fill: var(--accent-cl);

    &:hover .socials__icon,
    &:focus .socials__icon{
        fill: var(--hero-txt-cl);
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
    }

}

.socials__icon {
    fill: var(--accent-cl);
    cursor: pointer;
    @include mq (tablet){
        width: 34px;
        height: 34px;
    }
}

// Footer tel

.footer__tel {

   text-align: right;
   text-decoration: none;

    &--text {
        font-weight: 700;
            font-size: 12px;
            line-height: 1.8;

            @include mq (tablet-only) {
                font-size: 14px;
            }
            
            @include mq (desktop) {
                font-size: 16px;
            }
    }
    &--number {
        position: relative;
        text-decoration: none;
        color: var(--secondary-txt-cl);
        cursor: pointer;

        transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    }
}
.footer__tel--number:hover,
.footer__tel--number:focus {
 color: var(--hero-txt-cl) ;  
}

// .footer__tel--number::before {
//     position: absolute;
//     content: "";
    
//         display: block;
//         width: 100%;
    
//         height: 2px;
//         background-color: var(--hero-txt-cl);
//         left: 0;
// }



// Footer copyright

.footer__copyright {

    padding-top: 16px;
    border-top: 1px solid #E1E1E1;
    
    @include mq (mobile-only){
        display: flex;
        justify-content: center;
        align-items: center;
        
    }

    &--text {
        display: flex;
        font-weight: 700;
        font-size: 14px;
        line-height: 1.8;
        text-align: center;
        justify-content: center;
        color: var(--secondary-txt-cl);
        
        @include mq (mobile-only) {
            width: 150px;
        }
    
    }
}

