.products__list {
    list-style-type: none;
  }
  .container-products {
    padding-left: 20px;
    padding-right: 20px;
  
    margin: auto auto;
    @media screen and (min-width: 320px) {
      width: 320px;
    }
    @media screen and (min-width: 768px) {
      width: 768px;
      padding-left: 32px;
      padding-right: 32px;
    }
    @media screen and (min-width: 1200px) {
      width: 1200px;
      padding-left: 16px;
      padding-right: 16px;
    }
  }
  .products__lable {
    font-family: var(--secondary-font);
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 1.17;
    text-align: center;
    text-transform: uppercase;
    color: var(--accent-cl);
    margin-bottom: 15px;
    @media screen and (min-width: 768px) {
      font-size: 26px;
      line-height: 1.15;
      margin-bottom: 18px;
    }
    @media screen and (min-width: 1200px) {
      font-size: 30px;
      line-height: 1.13;
      letter-spacing: 0.04em;
      margin-bottom: 16px;
    }
  }
  .products__title {
    font-family: var(--secondary-font);
    font-style: normal;
    font-weight: 400;
    font-size: 34px;
    line-height: 1.15;
    text-align: center;
    letter-spacing: 0.04em;
    text-transform: uppercase;
    color: var(--hero-txt-cl);
    @media screen and (min-width: 768px) {
      font-size: 48px;
      line-height: 1.16;
      margin-bottom: 158px;
    }
    @media screen and (min-width: 1200px) {
      font-size: 58px;
      line-height: 1.14;
      letter-spacing: 0.06em;
      margin-bottom: 281px;
    }
  }
  .products__list {
    display: flex;
    flex-direction: column;
    @media screen and (min-width: 768px) {
      flex-direction: row;
      flex-wrap: wrap;
      gap: 16px;
    }
    @media screen and (min-width: 1200px) {
      gap: 32px;
    }
  }
  .products__item {
    perspective: 600px;
    height: 489px;
    @media screen and (min-width: 768px) {
      height: 473px;
    }
    @media screen and (min-width: 1200px) {
      height: 535px;
    }
  
    &:nth-child(1) {
      margin-top: 148px;
    }
    margin-top: 140px;
    @media screen and (min-width: 768px) {
      flex-basis: calc((100% - 32px) / 3);
      margin-top: 0px;
      &:nth-child(1) {
        margin-top: 0px;
      }
    }
    @media screen and (min-width: 1200px) {
      flex-basis: calc((100% - 64px) / 3);
    }
  }
  
  .product__name {
    margin-bottom: 70px;
    font-family: var(--secondary-font);
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 1.15;
    text-align: center;
    letter-spacing: 0.04em;
    text-transform: uppercase;
    color: var(--main-txt-cl);
    @media screen and (min-width: 1200px) {
      font-size: 30px;
      line-height: 1.13;
    }
    &::before {
      position: absolute;
      top: -140px;
      right: 50%;
      transform: translate(50%, 0);
      content: '';
      display: block;
      width: 280px;
      height: 280px;
      @media screen and (min-width: 768px) {
        top: -140px;
        width: 224px;
        height: 224px;
      }
      @media screen and (min-width: 1200px) {
        top: -273px;
        width: 368px;
        height: 394px;
      }
    }
    &::after {
      position: absolute;
      top: 215px;
      right: 50%;
      transform: translate(50%, 0);
      content: '';
      display: block;
      width: 26px;
      height: 6px;
      background-image: url(../images/products/Decor.svg);
      @media screen and (min-width: 768px) {
        top: 173px;
      }
      @media screen and (min-width: 1200px) {
        top: 231px;
      }
    }
  }
  
  .product__name--cream::before {
    @media screen and (max-width: 767px) {
      background-image: url(../images/products/mobile/m-product1.png);
      background-size: contain;
      @media screen and (min-device-pixel-ratio: 2),
        screen and (min-resolution: 192dpi),
        screen and (min-resolution: 2dppx) {
        background-image: url(../images/products/mobile/m-product1@2x.png);
      }
    }
    @media screen and (min-width: 768px) {
      background-image: url(../images/products/table/t-product1.png);
      background-size: contain;
      @media screen and (min-device-pixel-ratio: 2),
        screen and (min-resolution: 192dpi),
        screen and (min-resolution: 2dppx) {
        background-image: url(../images/products/table/t-product1@2x.png);
      }
    }
    @media screen and (min-width: 1200px) {
      background-image: url(../images/products/desktop/d-product1.png);
      background-size: contain;
      @media screen and (min-device-pixel-ratio: 2),
        screen and (min-resolution: 192dpi),
        screen and (min-resolution: 2dppx) {
        background-image: url(../images/products/desktop/d-product1@2x.png);
      }
    }
  }
  
  .product__name--coffee::before {
    @media screen and (max-width: 767px) {
      background-image: url(../images/products/mobile/m-product2.png);
      background-size: contain;
      @media screen and (min-device-pixel-ratio: 2),
        screen and (min-resolution: 192dpi),
        screen and (min-resolution: 2dppx) {
        background-image: url(../images/products/mobile/m-product2@2x.png);
      }
    }
    @media screen and (min-width: 768px) {
      background-image: url(../images/products/table/t-product2.png);
      background-size: contain;
      @media screen and (min-device-pixel-ratio: 2),
        screen and (min-resolution: 192dpi),
        screen and (min-resolution: 2dppx) {
        background-image: url(../images/products/table/t-product2@2x.png);
      }
    }
    @media screen and (min-width: 1200px) {
      background-image: url(../images/products/desktop/d-product2.png);
      background-size: contain;
      @media screen and (min-device-pixel-ratio: 2),
        screen and (min-resolution: 192dpi),
        screen and (min-resolution: 2dppx) {
        background-image: url(../images/products/desktop/d-product2@2x.png);
      }
    }
  }
  .product__name--milkshakes::before {
    @media screen and (max-width: 767px) {
      background-image: url(../images/products/mobile/m-product3.png);
      background-size: contain;
      @media screen and (min-device-pixel-ratio: 2),
        screen and (min-resolution: 192dpi),
        screen and (min-resolution: 2dppx) {
        background-image: url(../images/products/mobile/m-product3@2x.png);
      }
    }
    @media screen and (min-width: 768px) {
      background-image: url(../images/products/table/t-product3.png);
      background-size: contain;
      @media screen and (min-device-pixel-ratio: 2),
        screen and (min-resolution: 192dpi),
        screen and (min-resolution: 2dppx) {
        background-image: url(../images/products/table/t-product3@2x.png);
      }
    }
    @media screen and (min-width: 1200px) {
      background-image: url(../images/products/desktop/d-product3.png);
      background-size: contain;
      @media screen and (min-device-pixel-ratio: 2),
        screen and (min-resolution: 192dpi),
        screen and (min-resolution: 2dppx) {
        background-image: url(../images/products/desktop/d-product3@2x.png);
      }
    }
  }
  
  .product__description {
    margin-bottom: 32px;
    font-family: 'DM Sans';
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    line-height: 152%;
    text-align: center;
    letter-spacing: 0.04em;
    max-height: 124px;
    overflow: hidden;
    color: var(--main-txt-cl);
    @media screen and (min-width: 768px) {
      line-height: 1.76;
      max-height: 150px;
    }
    @media screen and (min-width: 1200px) {
      font-size: 16px;
      margin-bottom: 60px;
      max-height: 106px;
    }
  }
  .product__button {
    width: 40px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    background-color: rgb(255, 255, 255);
    background-repeat: no-repeat;
    background-position: center;
    border: none;
    color: var(--hero-txt-cl);
    cursor: pointer;
    &:hover,
    &:focus {
      background-color: var(--btn-bg-accent);
      color: rgb(255, 255, 255);
    }
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1), background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
  
  .product__icon {
    width: 12px;
    height: 12px;
    fill: currentColor;
  }
  
  // Оформление переворота карточки.
  
  .card1 {
    width: 100%;
    height: 100%;
    transition: transform 1s;
    transform-style: preserve-3d;
    cursor: pointer;
    position: relative;
    display: flex;
  }
  
  .card1.is-flipped {
    transform: rotateY(180deg);
  }
  
  .card1__face {
    position: absolute;
    width: 100%;
    height: 100%;
    backface-visibility: hidden;
    background-color: #ffb8ca;
    border-radius: 24px;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 160px 40px 40px 40px;
    @media screen and (min-width: 768px) {
      padding: 118px 12px 40px 12px;
    }
    @media screen and (min-width: 1200px) {
      padding: 165px 32px 60px 32px;
    }
  }
  
  .card1__face--back {
    transform: rotateY(180deg);
  }
  
  .card2 {
    width: 100%;
    height: 100%;
    transition: transform 1s;
    transform-style: preserve-3d;
    cursor: pointer;
    position: relative;
  }
  
  .card2.is-flipped {
    transform: rotateY(180deg);
  }
  
  .card2__face {
    position: absolute;
    width: 100%;
    height: 100%;
    backface-visibility: hidden;
    background-color: #f0d1a5;
    border-radius: 24px;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 160px 40px 40px 40px;
    @media screen and (min-width: 768px) {
      padding: 118px 12px 40px 12px;
    }
    @media screen and (min-width: 1200px) {
      padding: 165px 32px 60px 32px;
    }
  }
  
  .card2__face--back {
    transform: rotateY(180deg);
  }
  
  .card3 {
    width: 100%;
    height: 100%;
    transition: transform 1s;
    transform-style: preserve-3d;
    cursor: pointer;
    position: relative;
  }
  
  .card3.is-flipped {
    transform: rotateY(180deg);
  }
  
  .card3__face {
    position: absolute;
    width: 100%;
    height: 100%;
    backface-visibility: hidden;
    background-color: #c2e297;
    border-radius: 24px;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 160px 40px 40px 40px;
    @media screen and (min-width: 768px) {
      padding: 118px 12px 40px 12px;
    }
    @media screen and (min-width: 1200px) {
      padding: 165px 32px 60px 32px;
    }
  }
  
  .card3__face--back {
    transform: rotateY(180deg);
  }
  .card1__face--back{
    background-color: #FFB8CA;
  }
  .card2__face--back{
    background-color: #F0D1A5;
  }
  .card3__face--back {
    background-color: #C2E297;
  }
  
  .product__name--back {
    margin-bottom: 6px;
  }
  .ingredients__title {
    margin-bottom: 20px;
    font-family: 'DM Sans';
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 152%;
    text-align: center;
    letter-spacing: 0.04em;
    color: var(--main-txt-cl);
    @media screen and (min-width: 768px) {
      line-height: 1.76;
    }
    @media screen and (min-width: 1200px) {
      font-size: 18px;
      margin-bottom: 12px;
    }
  }
  
  .ingredients__item {
    margin-bottom: 8px;
    font-family: 'DM Sans';
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    line-height: 152%;
    text-align: center;
    letter-spacing: 0.04em;
    max-height: 124px;
    overflow: hidden;
    color: var(--main-txt-cl);
    &:last-child {
      margin-bottom: 14px;
    }
    @media screen and (min-width: 768px) {
      line-height: 1.76;
      max-height: 150px;
    }
    @media screen and (min-width: 1200px) {
      font-size: 16px;
      margin-bottom: 10px;
      max-height: 106px;
    }
  }
  
  .ingredients__tagline {
    margin-bottom: 10px;
    font-family: var(--secondary-font);
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 1.15;
    text-align: center;
    letter-spacing: 0.04em;
    text-transform: uppercase;
    color: var(--main-txt-cl);
    @media screen and (min-width: 1200px) {
      font-size: 20px;
      line-height: 1.13;
    }
  }
  .ingredients__impulse {
    margin-bottom: 15px;
    font-family: var(--secondary-font);
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 1.15;
    text-align: center;
    letter-spacing: 0.04em;
    text-transform: uppercase;
    color: var(--main-txt-cl);
    @media screen and (min-width: 1200px) {
      font-size: 20px;
      line-height: 1.13;
    }
  }
  .product__button--back {
    width: 100px;
    height: 60px;
    font-family: 'DM Sans';
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 21px;
    display: flex;
    align-items: center;
    text-align: center;
    justify-content: center;
    color: var(--hero-txt-cl);
    background-color: var(--main-bg-cl);
    border: none;
    border-radius: 22px;
    &:hover,
    &:focus {
      background-color: var(--btn-bg-accent);
      color: rgb(255, 255, 255);
    }
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1), background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }