.products__list {
  list-style-type: none;
}
.container-products {
  padding-left: 20px;
  padding-right: 20px;

  margin: auto auto;
  @media screen and (min-width: 320px) {
    width: 320px;
  }
  @media screen and (min-width: 768px) {
    width: 768px;
  }
  @media screen and (min-width: 1200px) {
    width: 1200px;
  }
}
.products__lable {
  font-family: var(--secondary-font);
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 1.17;
  text-align: center;
  text-transform: uppercase;
  color: var(--accent-cl);
  margin-bottom: 15px;
  @media screen and (min-width: 768px) {
    font-size: 26px;
    line-height: 1.15;
    margin-bottom: 18px;
  }
  @media screen and (min-width: 1200px) {
    font-size: 30px;
    line-height: 1.13;
    letter-spacing: 0.04em;
    margin-bottom: 16px;
  }
}
.products__title {
  font-family: var(--secondary-font);
  font-style: normal;
  font-weight: 400;
  font-size: 34px;
  line-height: 1.15;
  text-align: center;
  letter-spacing: 0.04em;
  text-transform: uppercase;
  color: var(--hero-txt-cl);
  @media screen and (min-width: 768px) {
    font-size: 48px;
    line-height: 1.16;
    margin-bottom: 158px;
  }
  @media screen and (min-width: 1200px) {
    font-size: 58px;
    line-height: 1.14;
    letter-spacing: 0.06em;
    margin-bottom: 281px;
  }
}
.products__list {
  display: flex;
  flex-direction: column;
  @media screen and (min-width: 768px) {
    flex-direction: row;
    flex-wrap: wrap;
    gap: 16px;
  }
  @media screen and (min-width: 1200px) {
    gap: 32px;
  }
}
.products__item {
  position: relative;
  background-color: #907e82;
  border-radius: 24px;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 140px;
  padding: 160px 40px 40px 40px;
  &:nth-child(1) {
    margin-top: 148px;
  }
  &:nth-child(3n + 1) {
    background-color: #ffb8ca;
  }
  &:nth-child(3n + 2) {
    background-color: #f0d1a5;
  }
  &:nth-child(3n + 3) {
    background-color: #c2e297;
  }
  @media screen and (min-width: 768px) {
    flex-basis: calc((100% - 32px) / 3);
    margin-top: 0px;
    padding: 118px 32px 32px 40px;
    &:nth-child(1) {
      margin-top: 0px;
    }
  }
  @media screen and (min-width: 1200px) {
    flex-basis: calc((100% - 64px) / 3);
    padding: 165px 64px 64px 60px;
  }
}

.product__name {
  margin-bottom: 70px;
  font-family: var(--secondary-font);
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 1.15;
  text-align: center;
  letter-spacing: 0.04em;
  text-transform: uppercase;
  color: var(--main-txt-cl);
  @media screen and (min-width: 1200px) {
    font-size: 30px;
    line-height: 1.13;
  }
  &::before {
    position: absolute;
    top: -140px;
    right: 50%;
    transform: translate(50%, 0);
    content: '';
    display: block;
    width: 280px;
    height: 280px;
    @media screen and (min-width: 768px) {
      top: -140px;
      width: 224px;
      height: 224px;
    }
    @media screen and (min-width: 1200px) {
      top: -273px;
      width: 368px;
      height: 394px;
    }
  }
  &::after {
    position: absolute;
    top: 215px;
    right: 50%;
    transform: translate(50%, 0);
    content: '';
    display: block;
    width: 26px;
    height: 6px;
    background-image: url(../images/products/Decor.svg);
    @media screen and (min-width: 768px) {
      top: 173px;
    }
    @media screen and (min-width: 1200px) {
      top: 231px;
    }
  }
  
}

.product__name--cream::before {
  background-image: url(../images/products/mobile/m-product1.png);
  @media screen and (min-width: 768px) {
    background-image: url(../images/products/table/t-product1.png);
  }
  @media screen and (min-width: 1200px) {
    background-image: url(../images/products/desktop/d-product1.png);
  }
}
.product__name--coffee::before {
  background-image: url(../images/products/mobile/m-product2.png);
  @media screen and (min-width: 768px) {
    background-image: url(../images/products/table/t-product2.png);
  }
  @media screen and (min-width: 1200px) {
    background-image: url(../images/products/desktop/d-product2.png);
  }
}
.product__name--milkshakes::before {
  background-image: url(../images/products/mobile/m-product3.png);
  @media screen and (min-width: 768px) {
    background-image: url(../images/products/table/t-product3.png);
  }
  @media screen and (min-width: 1200px) {
    background-image: url(../images/products/desktop/d-product3.png);
  }
}

.product__description {
  margin-bottom: 32px;
  font-family: 'DM Sans';
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 152%;
  text-align: center;
  letter-spacing: 0.04em;
  max-height: 124px;
  overflow: hidden;
  color: var(--main-txt-cl);
  @media screen and (min-width: 768px) {
    line-height: 1.76;
    max-height: 150px;
    
  }
  @media screen and (min-width: 1200px) {
    font-size: 16px;
    margin-bottom: 60px;
    max-height: 106px;
  }
}
.product__button {
  width: 40px;
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  background-color: rgb(255, 255, 255);
  background-repeat: no-repeat;
  background-position: center;
  border: none;
  color: var(--hero-txt-cl);
  cursor: pointer;
}

.product__icon {
  width: 12px;
  height: 12px;
  fill: currentColor;
}
