// @import '~node_modules/modern-normalize/modern-normalize.css';

body {
        font-family: var(--secondary-font);
        font-family: var(--main-font);
        font-style: normal;
        margin: 0;
}