:root {
  //  text colors

  --hero-txt-cl: #d41443;
  --main-txt-cl: #ffffff;
  --secondary-txt-cl: #907e82;
  --accent-cl: #ffa5ba;
  --dark-cl: #000000;

  //  background colors


    --hero-bg-cl: #FFB8CA;
    --main-bg-cl: #ffffff;
    --secondary-bg-cl: #FFF5F6;
    --btn-bg-accent:#D41342;

  --hero-bg-cl: #ffb8ca;
  --main-bg-cl: #ffffff;
  --secondary-bg-cl: #fff5f6;
  --reviews-bg-cl: #fafafa;
  --reviews-gradient-cl: #e1e1e1;
  --reviews-dot-cl: #c7133e;
  --pagination-bg-cl: #d9d9d9;


  // Fonts

  --main-font: 'DM Sans', sans-serif;
  --secondary-font: 'Titan One', sans-serif;

  // Swiper

  --swiper-pagination-bullet-horizontal-gap: 10px;
}
