:root {
//  text colors 

    --hero-txt-cl: #D41443;
    --main-txt-cl: #ffffff;
    --secondary-txt-cl: #907E82;
    --accent-cl: #FFA5BA;
    --dark-cl: #000000;

//  background colors

    --hero-bg-cl: #FFB8CA;
    --main-bg-cl: #ffffff;
    --secondary-bg-cl: #FFF5F6;
    --btn-bg-accent:#D41342;

// Fonts

    --main-font: 'DM Sans', sans-serif;
    --secondary-font: 'Titan One', sans-serif;
}
