
<section class="about-section">
<section class="about-section">
  <div class="anchor" id="made"></div>

  <div class="about-section__overlay">
    <div class="container">
      <p class="about-section__suptitle">TRADITION AND LOVE</p>
      <h2 class="about-section__title">HOW IT'S MADE?</h2>
      <div class="about-section__content">
        <div class="about-section__bg-bossy swing"></div>
        <div class="about-section__information">
          <p class="about-section__main-text">
            Fusce ut velit laoreet, tempus arcu eu, molestie tortor. Nam vel justo cursus, faucibus
            lorem eget, egestas eros. Maecenas eleifend erat at justo fringilla.
          </p>
          <p class="about-section__details-text">
            Curabitur lacinia enim at ex blandit, vel pellentesque odio elementum. Mauris rhoncus
            orci in imperdiet placerat. Vestibulum euismod nisl suscipit ligula volutpat, a feugiat
            urna maximus. Cras massa nibh, tincidunt. <br /><br />Aliquam erat volutpat. Aenean
            accumsan.
          </p>
          <button type="button" class="button about-section__button grow" data-about-modal-open>
            Read more
           
          </button>
        </div>
      </div>
    </div>
  </div>
</section>

<!-- BACKDROP -->
<div class="backdrop is-hidden" data-about-modal>
  <div class="modal">
    <button type="button" class="modal__close-btn" data-about-modal-close>
      <svg class="modal__icon-close-btn">
        <use href="./images/icon/close-button.svg#icon-cross"></use>
      </svg>
    </button>
    <p class="modal__suptitle">TRADITION AND LOVE</p>
    <p class="modal__title">HOW IT'S MADE?</p>
    <div class="frame"><iframe class="video" src="https://www.youtube.com/embed/nSPCdu5rpRE" frameborder="0"></iframe>
    </div>

  </div>
</div>
