<article class="contacts">
    <h1 hidden>Contacts</h1>
    <ul class="contacts__list">
        <li class="contacts__item">
            <div class="contacts__card">
                <div class="contacts__card-place">CAFE</div>
                <h2 class="contacts__card-title">Chicago</h2>
                <p class="contacts__card-text">Fusce ut velit laoreet, tempus arcu molestie vulputate</p>
            </div>
            <div class="contacts__card-date">
    
                <p class="contacts__card-time"> Monday - Friday</p>
                    <time datetime="06:00 AM - 10:00 PM">06:00 AM - 10:00 PM</time>
                <p class="contacts__card-time"> Saturday - Sunday</p>
                    <time datetime="08:00 AM - 16:00 PM">08:00 AM - 16:00 PM</time>
               
            </div>
           <address class="contacts__adress">
            <a href="mailto:noreply@envato.com">noreply@envato.com</a>
            <a href="tel:+61(0)383766284">+61(0) 383 766 284</a>
           </address>
        </li>
        <li class="contacts__item">
            <div class="contacts__card">
                <h2></h2>
                <p></p>
            </div>
        </li>
        <li class="contacts__item">
            <ul class="contacts__card">
                <li></li>
                <li></li>
                <li></li>
            </ul>
        </li>
    </ul>

</article>