<article class="contacts">
    <h1 hidden>Contacts</h1>
    <ul class="contacts__list">
        <li class="contacts__item">
            <div class="contacts__card">
                <div>CAFE</div>
                <h2>Chicago</h2>
                <p>Fusce ut velit laoreet, tempus arcu molestie vulputate</p>
            </div>
            <div class="contacts__card">
                <h2>Monday - Friday</h2>
                <p>06:00 AM - 10:00 PM</p>
            </div>
           <address class="contacts__adress">
            <a href="mailto:noreply@envato.com">noreply@envato.com</a>
            <a href="tel:+61(0)383766284">+61(0) 383 766 284</a>
           </address>
        </li>
        <li class="contacts__item">
            <div class="contacts__card">
                <h2></h2>
                <p></p>
            </div>
        </li>
        <li class="contacts__item">
            <ul class="contacts__card">
                <li></li>
                <li></li>
                <li></li>
            </ul>
        </li>
    </ul>

</article>