<footer class="footer">
    <div class="footer__container container">
        <ul class="btn__list">
        <li class="btn__item">
            <button class="btn" type="button">Our Locations</button>
        </li>
        <li class="btn__item">
            <button class="btn" type="button">Franchise</button>
        </li>
        </ul>
    <p class="footer__text">homemade ice cream made</p> 
    <h2 class="footer__title">with passion</h2>
    <div class="footer__socials">
        <ul class="socials__list">
            <li class="socials__item">
                <a class="socials__link" href="https://github.com/" target="_blank" rel="noopener noreferrer" aria-label="icon Github">
                    <svg class="socials__icon" width="32" height="32">
                        <use href="./images/sprite.svg#github"></use>
                    </svg>
                </a>
            </li>
            <li class="socials__item">
                <a class="socials__link" href="https://telegram.org/" target="_blank" rel="noopener noreferrer" aria-label="icon Telegram">
                    <svg class="socials__icon" width="32" height="32">
                        <use href="./images/sprite.svg#telegram"></use>
                    </svg>
                </a>
            </li>
            <li class="socials__item">
                <a class="socials__link" href="https://www.facebook.com/" target="_blank" rel="noopener noreferrer" aria-label="icon Facebook">
                    <svg class="socials__icon" width="32" height="32">
                        <use href="./images/sprite.svg#facebook"></use>
                    </svg>
                </a>
            </li>
        </ul>
    </div>
    <div class="footer__tel">
        <p class="footer__tel--text">
            Feel free to contact
            <a class="footer__tel--number" href="tel:+61(0)383766284">+61 (0) 383 766 284</a>
        </p>
    </div>
   </div>
    <div class="footer__copyright">
        <p class="footer__copyright--text">© 2022 - IceCream.<br>
            All Rights Reserved.</p>
    </div>

</footer>