<footer class="footer">
    <div class="footer__container container">

        <ul class="btn__list">
        <li class="btn__item">
            <button class="btn" type="button">Our Locations</button>
        </li>
        <li class="btn__item">
            <button class="btn" type="button">Franchise</button>
        </li>
        </ul>
    <p class="footer__text">homemade ice cream made</p>
    <h2 class="footer__title">with passion</h2>
    <div class="footer__socials">
        <ul class="socials__list">
            <li class="socials__item">
                <a class="socials__link" href="" target="_blank" rel="noopener noreferrer" aria-label="icon Github">
                  <!-- <img src="./images/github.svg" alt="icon github"> -->
                    <svg class="socials__icon" width="10" height="10">
                        <use href="./images/sprite.svg#untitled2"></use>
                    </svg>
                </a>
            </li>
            <li class="socials__item">
                <a class="socials__link" href="" target="_blank" rel="noopener noreferrer" aria-label="icon Telegram">
                    <!-- <img src="./images/telegram.svg" alt="icon telegram"> -->
                    <svg class="socials__icon" width="10" height="10">
                        <use href="./images/sprite.svg#untitled1"></use>
                    </svg>
                </a>
            </li>
            <li class="socials__item">
                <a class="socials__link" href="" target="_blank" rel="noopener noreferrer" aria-label="icon Facebook">
                    <!-- <img src="./images/facebook.svg" alt="icon facebook"> -->
                    <svg class="socials__icon" width="10" height="10">
                        <use href="./images/sprite.svg#untitled"></use>
                    </svg>
                </a>
            </li>
        </ul>
    </div>
    <div class="footer__tel">
        <p class="footer__tel--text">
            Feel free to contact
            <a class="footer__tel--number" href="tel:+61(0)383766284">+61 (0) 383 766 284</a>
        </p>
    </div>
   </div>
    <div class="footer__copyright">
        <p class="footer__copyright--text">© 2022 - IceCream.<br>
            All Rights Reserved.</p>
    </div>

</footer>