<header class="header" id="header">
  <div class="container">
    <div class="header-container">
      <nav class="header-nav">
        <div class="header-nav__sm">
          <a
            class="logo"
            href="./index.html"
            aria-label="Логотип сайта Ice Cream"
          >
            <img src="./images/icon/logo.svg" alt="Логотип" />
          </a>
          <button
            type="button"
            class="header-mobile-menu-btn"
            aria-expanded="false"
            data-menu-button
          >
            <svg
              class="header-mobile-btn-icon"
              width="20"
              height="20"
              aria-label="Переключатель мобильного меню"
              aria-controls="header-menu"
            >
              <use
                href="./images/sprite.svg#burger-test"
                class="header-icon-menu"
              ></use>
              <use
                href="./images/sprite.svg#cross-test"
                class="header-icon-close-menu"
              ></use>
            </svg>
          </button>
        </div>
        <div class="header-menu" data-menu>
          <button type="button" class="header-button-modal" data-modal-open>
            <span class="header-button-modal-in-header">Buy now</span>
            <span class="header-button-modal-in-menu">Buy now</span>
          </button>
          <ul class="header-menu-list">
            <li>
              <a class="header-menu-link link" href="#body" close-home>
                Home
              </a>
            </li>
            <li>
              <a class="header-menu-link link" href="#about" close-about
                >About us</a
              >
            </li>
            <li>
              <a class="header-menu-link link" href="#made" close-made>
                How it's made?
              </a>
            </li>
            <li>
              <a class="header-menu-link link" href="#products" close-products
                >Our products
              </a>
            </li>
            <li>
              <a class="header-menu-link link" href="#contact" close-contact
                >Contact</a
              >
            </li>
          </ul>
        </div>
      </nav>
    </div>
  </div>
</header>
<div class="header-modal-backdrop is-hidden" data-modal>
  <div class="header-modal">
    <button class="header-modal-close--position" data-modal-close>
      <svg class="hero-modal__close-icon">
        <use href="./images/sprite.svg#cross-modal"></use>
      </svg>
    </button>
    <form class="header-modal-form">
      <p class="header-modal__text">
        Leave your ,</br> we will call you back
      </p>
      <div class="header-modal-bl" role="group">
        <label class="header-modal-form-unit">
          <span class="header-modal-form__item">Your name</span>
          <input
            class="header-modal-form__input"
            type="text"
            name="input-modal"
          />
          <svg class="header-modal-form__icon">
            <use href="./images/sprite.svg#icon-person"></use>
          </svg>
        </label>
        <label class="header-modal-form-unit">
          <span class="header-modal-form__item">Your contact</span>
          <input
            class="header-modal-form__input"
            type="tel"
            name="input-modal"
          />
          <svg class="header-modal-form__icon">
            <use href="./images/sprite.svg#icon-phone"></use>
          </svg>
        </label>
        <div class="header-modal__text-radio">
          <p class="header-modal__text-radio">What would you like to order?</p>
          <label class="header-modal-form__item-radio">
            <input type="radio" name="option" value="Ice cream" checked />
            Ice cream
          </label>
          <label class="header-modal-form__item-radio">
            <input type="radio" name="option" value="Ice coffe" />
           Ice coffe
          </label>
          <label class="header-modal-form__item-radio">
            <input type="radio" name="option" value="Milk shake" />
            Milk shake
          </label>
        </div>
        <label class="header-modal-form-unit">
          <span class="header-modal-form__item">Comment</span>
          <textarea
            class="header-modal-form__input header-modal-form__comment"
            name="input-modal"
            placeholder="Add your comment"
          ></textarea>
        </label>
      </div>
      <button class="header-modal-mailing-btn-submit" type="submit">
        Send
      </button>
    </form>
  </div>
</div>