<header class="header container" id="header">
  <div class="header-container">
    <nav class="header-nav">
      <a class="logo" href="./index.html" aria-label="Логотип сайта Ice Cream">
        <img src="./images/icon/logo.svg" alt="Логотип" />
      </a>
      <button
        type="button"
        class="header-mobile-menu-btn"
        aria-expanded="false"
        data-menu-button
      >
        <svg
          class="header-mobile-btn-icon"
          width="20"
          height="20"
          aria-label="Переключатель мобильного меню"
          aria-controls="header-menu"
        >
          <use
            href="./images/sprite.svg#burger-test"
            class="header-icon-menu"
          ></use>
          <use
            href="./images/sprite.svg#cross-test"
            class="header-icon-close-menu"
          ></use>
        </svg>
      </button>
      <div class="header-menu" data-menu>
        <button type="button" class="header-button-modal">Buy now</button>
        <nav class="header-menu-nav">
          <ul>
            <li>
              <a class="header-menu-link link" href="./index.html"> Home </a>
            </li>
            <li>
              <a class="header-menu-link link" href="#about">About us</a>
            </li>
            <li>
              <a class="header-menu-link link" href="#made"> How it's made? </a>
            </li>
            <li>
              <a class="header-menu-link link" href="#products"
                >Our products
              </a>
            </li>
            <li>
              <a class="header-menu-link link" href="#contact">Contact</a>
            </li>
          </ul>
        </nav>
      </div>
    </nav>
  </div>
</header>
