<section class="hero">
  <div class="container">
    <div class="hero-container">
      
      <h1 class="hero-title">
        ice cream made with
        <br /><span class="hero-title-big">passion</span>
      </h1>
      <div class="hero-link">
        <a class="link link-red" href="#products">Products</a>
        <a class="link link-white" href="#made">How it's made?</a>
      </div>
      <img
        class="girl-img"
        srcset="./images/hero/girl150.png 150w, ./images/hero/girl300.png 300w"
        src="./images/hero/girl150.png"
        alt="девушка кушает мороженое"
        sizes="25vw"
      />
      <img
        class="milk-img"
        srcset="./images/hero/milk154.png 154w, ./images/hero/milk308.png 308w"
        src="./images/hero/milk154.png"
        alt="молоко"
        sizes="20vw"
      />
      <div class="hero__element hero__element--1">
        <p class="element__number">16</p>
        <p class="element__text">cafes</p>
        <svg class="element__icon">
          <use href="./images/sprite.svg#ellipse"></use>
        </svg>
      </div>
      <div class="hero__element hero__element--2">
        <p class="element__number">23</p>
        <p class="element__text">food trucks</p>
        <svg class="element__icon">
          <use href="./images/sprite.svg#ellipse"></use>
        </svg>
      </div>
      <div class="hero__text">
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et
        </p>
        <a class="hero-text__link" href="" >
          <img class="hero-text__img" src="./images/hero/arrow-right.png" alt="стрелочка">
        </a>
      </div>
    </div>
  </div>
</section>
