<!-- Products -->
<section class="section products">
  <div class="container container-products">
    <div class="anchor" id="products"></div>
    <p class="products__lable">100% natural</p>
    <h2 class="products__title">products</h2>

    <ul class="products__list">
      <li class="products__item product scene scene--card1">
        <div class="card1">
          <div class="card1__face card1__face--front">
            <h3 class="product__name product__name--cream">ice cream</h3>
            <p class="product__description">
              Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
              eiusmod tempor incididunt ut labore et. dolore magna aliqua
              facilisis.
            </p>
            <button type="button" class="product__button">
              <svg class="product__icon">
                <use
                  href="./images/products/products_icon.svg#icon-arrow-right"
                ></use>
              </svg>
            </button>
          </div>
          <div class="card1__face card1__face--back">
            <h3 class="product__name product__name--cream product__name--back">
              ice cream
            </h3>
            <div class="ingredients">
              <p class="ingredients__title">Ingredients:</p>
              <ul class="ingredients__list">
                <li class="ingredients__item">- Milk</li>
                <li class="ingredients__item">- Сhocolate</li>
                <li class="ingredients__item">- Fantasy</li>
                <li class="ingredients__item">- Creative</li>
              </ul>
              <p class="ingredients__tagline">Made with love!</p>
              <p class="ingredients__impulse">It's delicious!</p>
            </div>
            <button type="button" class="product__button--back">Buy now</button>
          </div>
        </div>
      </li>
      <li class="products__item product scene scene--card2">
        <div class="card2">
          <div class="card2__face card2__face--front">
            <h3 class="product__name product__name--coffee">ice coffee</h3>
            <p class="product__description">
              Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
              eiusmod tempor incididunt ut labore et. dolore magna aliqua
              facilisis.
            </p>
            <button type="button" class="product__button">
              <svg class="product__icon">
                <use
                  href="./images/products/products_icon.svg#icon-arrow-right"
                ></use>
              </svg>
            </button>
          </div>
          <div class="card2__face card2__face--back">
            <h3 class="product__name product__name--coffee product__name--back">
              ice-coffee
            </h3>
            <div class="ingredients">
              <p class="ingredients__title">Ingredients:</p>
              <ul class="ingredients__list">
                <li class="ingredients__item">- Milk</li>
                <li class="ingredients__item">- Сhocolate</li>
                <li class="ingredients__item">- Fantasy</li>
                <li class="ingredients__item">- Creative</li>
              </ul>
              <p class="ingredients__tagline">Made with love!</p>
              <p class="ingredients__impulse">It's delicious!</p>
            </div>
            <button type="button" class="product__button--back">Buy now</button>
          </div>
        </div>
      </li>
      <li class="products__item product scene scene--card3">
        <div class="card3">
          <div class="card3__face card3__face--front">
            <h3 class="product__name product__name--milkshakes">milkshakes</h3>
            <p class="product__description">
              Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
              eiusmod tempor incididunt ut labore et. dolore magna aliqua
              facilisis.
            </p>
            <button type="button" class="product__button">
              <svg class="product__icon">
                <use
                  href="./images/products/products_icon.svg#icon-arrow-right"
                ></use>
              </svg>
            </button>
          </div>
          <div class="card3__face card3__face--back">
            <h3
              class="product__name product__name--milkshakes product__name--back"
            >
              milkshakes
            </h3>
            <div class="ingredients">
              <p class="ingredients__title">Ingredients:</p>
              <ul class="ingredients__list">
                <li class="ingredients__item">- Milk</li>
                <li class="ingredients__item">- Сhocolate</li>
                <li class="ingredients__item">- Fantasy</li>
                <li class="ingredients__item">- Creative</li>
              </ul>
              <p class="ingredients__tagline">Made with love!</p>
              <p class="ingredients__impulse">It's delicious!</p>
            </div>
            <button type="button" class="product__button--back">Buy now</button>
          </div>
        </div>
      </li>
    </ul>
  </div>
  <script src="./js/products.js"></script>
</section>