
    <!-- Products -->
    <section class="section products" id="products">
      <div class="container container-products">
        <p class="products__lable">100% natural</p>
        <h2 class="products__title">products</h2>

        <ul class="products__list">
          <li class="products__item product">
            <h3 class="product__name product__name--cream">ice cream</h3>
            <p class="product__description">
              Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor
              incididunt ut labore et. dolore magna aliqua facilisis.
            </p>
            <button type="button" class="product__button">
              <svg class="product__icon">
                <use href="./images/products/products_icon.svg#icon-arrow-right"></use>
              </svg>
            </button>
          </li>
          <li class="products__item product">
            <h3 class="product__name product__name--coffee">ice coffee</h3>
            <p class="product__description">
              Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor
              incididunt ut labore et. dolore magna aliqua facilisis.
            </p>
            <button type="button" class="product__button">
              <svg class="product__icon">
                <use href="./images/products/products_icon.svg#icon-arrow-right"></use>
              </svg>
            </button>
          </li>
          <li class="products__item product">
            <h3 class="product__name product__name--milkshakes">milkshakes</h3>
            <p class="product__description">
              Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor
              incididunt ut labore et. dolore magna aliqua facilisis.
            </p>
            <button type="button" class="product__button">
              <svg class="product__icon">
                <use href="./images/products/products_icon.svg#icon-arrow-right"></use>
              </svg>
            </button>
          </li>
        </ul>
      </div>
    </section>


