.advantages {
  background-color: var(--secondary-bg-cl);
  padding-top: 40px;

  @include mq(tablet) {
    padding-top: 60px;
  }

  @include mq(desktop) {
    padding-bottom: 120px;
  }
}

.advantages__list {
  @include mq(tablet) {
    display: flex;
    justify-content: center;
  }
}

.advantages__list > *:not(:last-child) {
  @include mq(mobile-only) {
    margin-bottom: 32px;
  }

  @include mq(tablet) {
    margin-right: 25px;
  }

  @include mq(desktop) {
    margin-right: 135px;
  }
}

.advantages__list > * {
  &::before {
    content: '';
    display: block;
    height: 50px;
    margin-bottom: 36px;
  }

  &:first-child::before {
    width: 33px;
    background-image: url('../images/advantages/milk.png');
    background-size: 33px 50px;
    @include mq(retina) {
      background-image: url('../images/advantages/milk@2x.png');
    }
  }

  &:nth-child(2)::before {
    width: 50px;
    background-image: url('../images/advantages/apple.png');
    background-size: 50px 50px;
    @include mq(retina) {
      background-image: url('../images/advantages/apple@2x.png');
    }
  }

  &:last-child::before {
    width: 44px;
    background-image: url('../images/advantages/heart.png');
    background-size: 44px 50px;
    @include mq(retina) {
      background-image: url('../images/advantages/heart@2x.png');
    }
  }
}

.advantages__block {
  width: 230px;
  @include mq(tablet) {
    width: 155px;
  }

  @include mq(desktop) {
    width: 250px;
  }
}

.advantages__title {
  font-family: var(--secondary-font);
  font-size: 36px;
  line-height: 1.14;
  letter-spacing: 0.04em;
  text-transform: uppercase;
  color: var(--hero-txt-cl);
  margin-bottom: 20px;
}

.advantages__description {
  font-family: var(--main-font);
  font-weight: 700;
  font-size: 12px;
  line-height: 1.7;
  color: var(--dark-cl);
}
