.header {
    @include mq (mobile-only) {
        padding-top: 8px;
        height: 68px;
    }
    @include mq (tablet-only) {      
        padding-top: 32px;
        height: 115px;
    }
    @include mq (desktop) {      
        padding-top: 37px;
        height: 125px;
    }   
    position: fixed;
    
    top: 0;
    z-index: 10;
    width: 100%;
      
}

// Дополнительный класс для скрипта и фиксированного хедера
.js-no-transparency {

    background-color: rgba(212, 151, 213, 0.4);
    backdrop-filter: blur(10px);
    
}


.header-container {

    position: relative;
    width: 100%;
    
} 

.header-nav {
    position: relative;
    width: 100%;
    @include mq (desktop) {
        display: flex;
        align-items: center;
    }
}

.header-nav__sm {
    
    display: flex;
    align-items: center;
    
}

.logo {
    width: 199px;
    height: 50px;
    @include mq (desktop) {
        margin-right: 128px;
    }
}

.header-mobile-menu-btn {
    @include mq (desktop) {
        display: none;
    }
    
    @include mq (mobile-only) {
    right: 15px;
    }

    @include mq (tablet-only) {
        top: 15px;
        right: 210px;
    }
    
    position: absolute;
    width: 20px;
    height: 20px;
    display: flex;
    margin: 0;
    padding: 0;
    align-items: center;
    justify-content: center;

    border: none;
    background-color: transparent;

    &.is-open {
        position: absolute;
        z-index: 200;
       
        @include mq (mobile-only) {
        top: 20px;
        right: 15px;
        }
        @include mq (tablet-only) {
        top: -10px;
        right: 260px;
        }
        
    }


    & .header-icon-menu {
        display: block;

    }

    & .header-icon-close-menu {
        display: none;
    }

    &.is-open .header-icon-menu {
        display: none;
    }

    &.is-open .header-icon-close-menu {
        display: block;
        opacity: 1;
        position: fixed;        

    }

    &:hover .header-mobile-btn-icon {
        cursor: pointer;
        fill: currentColor;
    }

    &:hover .header-icon-close-menu,
    &:focus .header-icon-close-menu {
        cursor: pointer;
        fill: #000000;
    }

    &:hover .header-icon-menu,
    &:focus .header-icon-menu {
        cursor: pointer;
        stroke: #ffffff;
    }

}

.header-icon-menu {
    stroke: #D41443;
    transition: stroke 250ms ease-in-out;
}

.header-mobile-btn-icon {
    @include mq (tablet-only) {
        .header-mobile-menu-btn.is-open & {
            position: fixed;
            top: 20px;
            right: 32px;
        }
    }
}

.header-menu {
    width: 100%;
    position: relative;

    @include mq (mobile-only) {

        top: 0;
        left: 0;
        flex-direction: column;
        position: fixed;
        width: 100vw;
        height: 100vh;
        transform: translateX(120%);
        
        transition: transform 250ms ease-in-out;

        filter: drop-shadow(-8px 0px 20px rgba(0, 0, 0, 0.25));
        background-color: #E17992;
        transform: translateX(120%);
        transition: transform 250ms ease-in-out;
        
        &.is-open {
            transform: translateX(0);
            z-index: 90;
            }
    }

    @include mq (tablet-only) {
        position: fixed;
        width: 254px;
        height: 100vh;

        top: 0;
        right: 0;
        flex-direction: column;
        transform: translateX(250%);
        
        transition: transform 250ms ease-in-out;

        filter: drop-shadow(-8px 0px 20px rgba(0, 0, 0, 0.25));
        background-color: #E17992;
        transform: translateX(120%);
        transition: transform 250ms ease-in-out;
        
        &.is-open {
            transform: translateX(0);
            z-index: 90;
            }
    }

    @include mq (desktop) {
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
    
    }
          
}

.header-button-modal {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 209px;
    height: 44px;
    font-weight: 700;
    margin-left: auto;

    transition: background-color 250ms ease-in-out,
                color 250ms ease-in-out;
    @include mq (not-desktop) {
        margin-top: 60px;
        margin-bottom: 32px;
        margin-left: auto;
        margin-right: auto;
        align-items: center;
        text-align: center;
    }
    
    @include mq (mobile-only) {
    width: 209px;
    height: 44px;  
    }
    @include mq (tablet-only) {
        width: 186px;
        height: 44px;
    }

    
    
    font-size: 16px;
    line-height: 1.31;

    color: var(--hero-txt-cl);

    background: #FFFFFF;
    border-radius: 22px;
    border: none;

    cursor: pointer;

    &::after {
        content: '';
        display: inline-flex;
        justify-content: center;
        width: 10px;
        height: 10px;
        
        margin-left: 16px;
        background-image: url(../images/icon/vector-buy.svg);
        background-size: contain;
        background-repeat: no-repeat;
    }       

    @include mq (desktop) {
        &:hover,
        &:focus {
    
            color: #FFFFFF;
            background: var(--hero-txt-cl);
    
            &::after {
                content: '';
                background-image: url(../images/icon/vector-buy-clean.svg);
                background-size: contain;
                background-repeat: no-repeat;
            }
       
        }
    }
                
}

.header-button-modal-in-header {
    display: none;

    @include mq (tablet-only) {
        position: fixed;
        top: 34px;
        left: -575px;
        left: calc(-540px - ((100vw - 704px) / 2));
        display: flex;
        align-items: center;
        justify-content: center;
        border-radius: 22px;
        background-color: #ffffff;
        width: 160px;
        height: 44px;
        opacity: 1;

        .header-menu.is-open & {
            opacity: 0;
        }

    }

    &::after {
        content: '';
        display: inline-flex;
        justify-content: center;
        width: 10px;
        height: 10px;

        margin-left: 16px;
        background-image: url(../images/icon/vector-buy.svg);
        background-size: contain;
        background-repeat: no-repeat;
    }
}


.header-menu-list {
    @include mq (not-desktop) {
    display: flex;
    border-bottom: 1px solid #E18298;
    flex-direction: column;
    }
    display: flex;
    
}

.header-menu-link {
    display: flex;
    align-items: center;
    
    @include mq (not-desktop) {
    width: 100%;  
    padding-left: 20px;
    border-top: 1px solid #E18298;
    font-size: 14px;
    line-height: 1.29;
    height: 42px;
    text-align: start;
    }
    @include mq (desktop) {
        font-size: 16px;
        line-height: 1.31;
        margin-right: 35px;
    }
    cursor: pointer;
    font-weight: 700;
    color: #FFFFFF;

    &:hover,
    &:focus {
        color: var(--hero-txt-cl);
    }
}

.anchor {
    position: absolute;
    z-index: -10;
    top: -68px;
    @include mq (tablet) {
        top: -115px;
    }
    @include mq (desktop) {
        top: -125px;
    }
}

.about-section,
.container-products,
.contacts,
.advantages {
    position: relative;
}

