.hero {
    background-color: var(--hero-bg-cl);

    background-image: url(../images/hero/ice-cream.png),
        url(../images/hero/ellipse.svg);
    background-repeat: no-repeat, no-repeat;
    background-size: auto, 344px;
    background-position: calc(50% + 43px) 92px, calc(50% + 50px) 83px;

    @include mq (tablet) {
        background-size: 143px, 335px;
    }
}


.hero-container {
    height: 502px;
    padding-top: 194px;
    position: relative;

    @include mq (tablet) {
        padding-top: 102px;
        height: 416px;
    }
    
}

.hero-title {
    width: 218px;
    height: 106px;

    font-family: 'Titan One';
    font-style: normal;
    font-weight: 400;
    font-size: 26px;
    line-height: 1.16;
    letter-spacing: 0.04em;
    text-transform: uppercase;

    color: var(--main-txt-cl);

    margin-bottom: 20px;
}

.hero-title-big {
    font-family: 'Titan One';
    font-style: normal;
    font-weight: 400;
    font-size: 48px;
    line-height: 1.16;
    letter-spacing: 0.04em;
    text-transform: uppercase;

    color: var(--hero-txt-cl);
}

.hero-link {
    display: flex;     
    
    align-items: center;
    text-align: center;
}

.link-red {
    display: flex;
    align-items: center;
    justify-content: center;
    @include mq (not-desktop) {
        font-size: 8px;
        line-height: 1.25;
        width: 61px;
        height: 24px;
        margin-right: 8px;
    }

    @include mq (desktop) {
        font-size: 14px;
        line-height: 1.29;
        width: 107px;
        height: 40px;
        margin-right: 12px;
    }

    color: var(--main-txt-cl);

    background-color: var(--hero-txt-cl);
    border-radius: 20px;
    border: none;

    

    &:hover,
    &:focus {
        cursor: pointer;
    }
}

.link-white {
    display: flex;
    align-items: center;
    justify-content: center;

    @include mq (not-desktop) {
    font-size: 8px;
    line-height: 1.25;
    width: 61px;
    height: 24px;
    margin-right: 8px;
    }
    
     @include mq (desktop) {
    font-size: 14px;
    line-height: 1.29;
    width: 107px;
    height: 40px;
    margin-right: 12px;
    }
    
    color:var(--hero-txt-cl);
    
    background-color: var(--main-txt-cl);
    border-radius: 20px;
    border: none;

    &:hover,
    &:focus {
        cursor: pointer;
    }
}

.girl-img {
    display: none;

    @include mq (tablet) {
        display: block;
        position: absolute;
        bottom: 0px;
        right: 0px;
        height: 150px;
    }
}

.milk-img {
    display: none;
    
    @include mq (tablet) {
        display: block;
        position: absolute;
        bottom: 16px;
        left: 0px;
        height: 150px;
    }
}