.hero {
  background-color: var(--hero-bg-cl);

  background-image: url(../images/hero/ice-cream236.png),
    url(../images/hero/ellipse.svg);
  background-repeat: no-repeat, no-repeat;
  @media (min-device-pixel-ratio: 2),
    (min-resolution: 192dpi),
    (min-resolution: 2dppx) {
    background-image: url(../images/hero/ice-cream472.png),
      url(../images/hero/ellipse.svg);
  }

  @include mq(mobile-only) {
    background-size: 171px, 344px;
    background-position: calc(50% + 43px) 92px, calc(50% + 50px) 83px;
  }
  @include mq(tablet) {
    background-size: 143px, 336px;
    background-position: calc(50% + 10px) 80px, calc(50% + 32px) 43px;
  }

  @include mq(desktop) {
    background-size: 236px, 557px;
    background-position: calc(50% + 154px) 108px, calc(50% + 168px) 54px;
  }
}

/ .hero-container {
  position: relative;

  @include mq(mobile-only) {
    height: 502px;
    padding-top: 194px;
  }

  @include mq(tablet) {
    padding-top: 102px;
    height: 416px;
  }

  @include mq(desktop) {
    padding-top: 175px;
    height: 664px;
  }
}

.hero-title {
  @include mq(mobile-only) {
    width: 218px;
    font-weight: 400;
    font-size: 26px;
    line-height: 1.16;
    letter-spacing: 0.04em;
    margin-bottom: 20px;
  }

  @include mq(tablet-only) {
    width: 162px;
    font-weight: 400;
    font-size: 22px;
    line-height: 1.14;
    letter-spacing: 0.04em;
    margin-bottom: 20px;
  }

  @include mq(desktop) {
    width: 277px;
    font-weight: 400;
    font-size: 38px;
    line-height: 1.16;
    letter-spacing: 0.04em;
    margin-bottom: 24px;
  }

  font-family: 'Titan One';
  font-style: normal;

  text-transform: uppercase;

  color: var(--main-txt-cl);

  margin-bottom: 20px;
}

.hero-title-big {
  @include mq(mobile-only) {
    font-weight: 400;
    font-size: 48px;
    line-height: 1.16;
  }

  @include mq(tablet-only) {
    font-weight: 400;
    font-size: 34px;
    line-height: 0.91;
  }

  @include mq(desktop) {
    font-weight: 400;
    font-size: 58px;
    line-height: 0.91;
  }

  font-family: 'Titan One';
  font-style: normal;
  letter-spacing: 0.04em;
  text-transform: uppercase;

  color: var(--hero-txt-cl);
}

.hero-link {
  display: flex;

  align-items: center;
  text-align: center;
}

.link-red {
  display: flex;
  align-items: center;
  justify-content: center;
  @include mq(not-desktop) {
    font-size: 8px;
    line-height: 1.25;
    width: 61px;
    height: 24px;
    margin-right: 8px;
  }

  @include mq(desktop) {
    font-size: 14px;
    line-height: 1.29;
    width: 107px;
    height: 40px;
    margin-right: 12px;
  }

  color: var(--main-txt-cl);

  background-color: var(--hero-txt-cl);
  border-radius: 20px;
  border: none;

  &:hover,
  &:focus {
    cursor: pointer;
    color: var(--hero-txt-cl);
    background-color: var(--main-txt-cl);
  }
  transition: color 250ms ease-in-out, background-color 250ms ease-in-out;
}

.link-white {
  display: flex;
  align-items: center;
  justify-content: center;

  transition: color 250ms ease-in-out, background-color 250ms ease-in-out;

  @include mq(not-desktop) {
    font-size: 8px;
    line-height: 1.25;
    width: 83px;
    height: 24px;
    margin-right: 8px;
  }

  @include mq(desktop) {
    font-size: 14px;
    line-height: 1.29;
    width: 138px;
    height: 40px;
    margin-right: 12px;
  }

  color: var(--hero-txt-cl);

  background-color: var(--main-txt-cl);
  border-radius: 20px;
  border: none;

  &:hover,
  &:focus {
    cursor: pointer;
    @include mq(desktop) {
      color: var(--main-txt-cl);
      background-color: var(--hero-txt-cl);
    }
  }
}

.girl-img {
  @include mq(mobile-only) {
    display: none;
  }

  @include mq(tablet) {
    display: block;
    position: absolute;
    bottom: 0px;
    right: 0px;
    width: 190px;
    height: 150px;
  }

  @include mq(desktop) {
    display: block;
    position: absolute;
    bottom: 0px;
    right: 0px;
    width: 304px;
    height: 231px;
  }
}

.milk-img {
  @include mq(mobile-only) {
    display: none;
  }

  @include mq(tablet) {
    display: block;
    position: absolute;
    bottom: 16px;
    left: 0px;
    width: 152px;
    height: 154px;
  }

  @include mq(desktop) {
    display: block;
    position: absolute;
    bottom: 60px;
    left: 0px;
    width: 213px;
    height: 215px;
  }
}

.hero__element {
  display: none;
  position: absolute;
  right: 0;
  padding-right: 8px;
  text-align: right;

  @include mq(tablet) {
    display: block;
  }

  @include mq(desktop) {
    padding-right: 18px;
  }
}

.hero__element--1 {
  top: 92px;
  width: 43px;
  height: 44px;
  @include mq(desktop) {
    top: 152px;
    width: 72px;
    height: 77px;
  }
}

.hero__element--2 {
  top: 152px;
  width: 51px;
  height: 43px;
  @include mq(desktop) {
    top: 244px;
    width: 92px;
    height: 76px;
  }
}

.element__number {
  font-family: 'Titan One';
  font-style: normal;
  font-weight: 400;
  font-size: 28px;
  line-height: 1.14;
  letter-spacing: 0.04em;
  text-transform: uppercase;
  color: #d41443;

  z-index: 2;

  @include mq(desktop) {
    font-size: 46px;
  }
}

.element__text {
  font-family: 'DM Sans';
  font-style: normal;
  font-weight: 400;
  font-size: 8px;
  line-height: 1.25;
  color: #ffffff;
  @include mq(desktop) {
    font-size: 14px;
  }
}

.element__icon {
  position: absolute;
  top: 0;
  right: 0;
  width: 16px;
  height: 16px;
  @include mq(desktop) {
    width: 30px;
    height: 30px;
  }

  z-index: 1;
}

.hero__text {
  display: none;
  position: absolute;
  left: 152px;
  bottom: 81px;
  width: 114px;
  font-size: 8px;
  line-height: 150%;
  color: #ffffff;
  @include mq(tablet) {
    display: block;
  }
  @include mq(desktop) {
    width: 200px;
    left: 216px;
    bottom: 84px;
    font-size: 14px;
    line-height: 140%;
  }
}

.hero-text__link {
  display: block;
  margin-top: 7px;
  @include mq(desktop) {
    margin-top: 20px;
  }
}

.hero-text__img {
  width: 18px;
  height: 18px;
  @include mq(desktop) {
    width: 26px;
    height: 26px;
  }
}

